* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background: #fff;
  font-family: Helvetica, Arial;
  font-size: 14px;
}

img {
  border: none;
}

a {
  color: #6698FF;
  text-decoration: none;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.2em;
}

#topfade {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

#topfade img {
  width: 100%;
  padding-top: 57px;
}

#container {
  width: 960px;
  margin: 0 auto;
  /* overflow: auto; */
  min-height: 100%;
}

#top {
  background: #3676B5;
  height: 55px;
  margin-bottom: -57px;
  z-index: 1;
  border-bottom: 2px solid gray;
}

#logonav {
  width: 960px;
	padding: 20px 20px 0px;
	margin: 0 auto;
}

#logo a {
  color: #000;
  float: left;
  font-size: 2em;
  font-weight: bolder;
  letter-spacing: -0.1em;
  line-height: 0.5em;
  text-decoration: none;
}

#topnav {
  float: right;
}

#topnav a {
  color: #fff;
}

#content {
  padding: 95px 0px;
  min-height: 300px;
/*  overflow: auto;*/
}

#boxed {
  padding: 20px;
  background-color: #fff;
  min-height: 300px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px; 
  -webkit-box-shadow: 2px 2px 5px #555;
  -moz-box-shadow: 2px 2px 5px #555;
  overflow: auto;
  clear: both;
}

/* Show */
#show {
  padding-left: 40px;
}

#show p {
  padding-bottom: 10px;
  font-size: 1.2em;
}

#show span {
  padding-left: 40px;
}

/* Tables */
#tablelist {
  margin: 20px auto;
}

#tablelist th {
  text-decoration: underline;
  font-size: 1.2em;
  padding: 10px;
}

#tablelist td {
  padding: 5px 10px;
  font-size: .85em;
  text-align: center;
}

.links {
  padding: 10px 0 10px 40px;
}

#adminlinks {
  border: 1px solid #888;
  margin: 0 auto 20px;
  background-color: #fff;
  padding: 10px;
}

/* Forms */
.normal_form {
  width: 500px;
  margin: 0 auto;
}

.normal_form input[type=text], .normal_form textarea {
  font: 13px 'Lucida Grande',Helvetica,Arial,sans-serif;
  outline: 0 none;
  padding: 5px;
  border: 1px solid #97B5D2;
  color: #25313C;
  font-family: Georgia,Times,"Times New Roman",serif;
  font-size: 18px;
  width: 480px;
}

.normal_form input[type=checkbox] {
  padding-right: 7px;
}

/* Pretty Form */
.pretty_form label, .normal_form label {
  color: #657788;
  display: block;
  font-family: Arial,Helvetica,Verdana,sans-serif;
  font-size:  18px;
  padding: 10px 0 5px;
}

.pretty_form input[type=text], .pretty_form input[type=password], .pretty_form input[type=checkbox], .pretty_form select {
  font: 13px 'Lucida Grande',Helvetica,Arial,sans-serif;
  outline: 0 none;
  padding: 7px;
  border: 1px solid #97B5D2;
  color: #25313C;
  font-family: Georgia,Times,"Times New Roman",serif;
  font-size: 28px;
  width: 480px;
}

.pretty_form li.error input[type=text], .pretty_form li.error input[type=password] {
  border: 2px solid red;
}

/* Login Forms */
.pretty_form li {
  padding-top: 7px;
  list-style-type: none;
}

.pretty_form {
  width: 500px;
  display: block;
  float: none;
  margin: 0 auto;
}

.pretty_form .title {
  text-align: left;
  width: 100%;
	padding-bottom: 30px;
}

.pretty_form h1 {
	font-size: 36px;
}

.signup {
  padding-top: 20px;
}

/* footer */
#bottom {
  position: relative;
  background-color: #2e2e2e;
  margin-top: -75px;
}

#footer {
  width: 960px;
  margin: 0 auto;
	height: 75px;
	clear: both;
}

#bottomnav {
  text-align: left;
  float: left;
  color: white;
  padding-top: 20px;
}

#connect {
  text-align: right;
  float: right;
  color: white;
  padding-top: 10px;
}

#connect p {
  padding-bottom: 4px;
  font-size: 1.2em;
}