#countdown_dashboard {
	height: 75px;
	text-align: center;
}

.dash {
	width: 60px; /* 110px */
	height: 72px; /* 114px */
	background: transparent url('../images/countdown/dash.png') 0 0 no-repeat;
	float: left;
	margin-left: 12px;
	position: relative;
}

.dash .digit {
	font-size: 35pt; /* 55pt */
	font-weight: bold;
	float: left;
	width: 30px; /* 55px */
	text-align: center;
	font-family: Times;
	color: #555;
	position: relative;
	padding-top: 3px;
}

.dash_title {
  text-align: center;
	position: absolute;
	display: block;
	bottom: 0px;
	font-size: 8pt;
	color: #555;
	text-transform: uppercase;
	letter-spacing: 2px;
	width: 100%;
}