<!-- Countdown dashboard start -->
<div id="countdown_dashboard">
  <div class="dash days_dash">
		<span class="dash_title">days</span>
		<div class="digit">0</div>
		<div class="digit">0</div>
	</div>

	<div class="dash hours_dash">
		<span class="dash_title">hours</span>
		<div class="digit">0</div>
		<div class="digit">0</div>
	</div>

	<div class="dash minutes_dash">
		<span class="dash_title">minutes</span>
		<div class="digit">0</div>
		<div class="digit">0</div>
	</div>

	<div class="dash seconds_dash">
		<span class="dash_title">seconds</span>
		<div class="digit">0</div>
		<div class="digit">0</div>
	</div>

</div>
<!-- Countdown dashboard end -->