<% title "Didn't find what you were looking for?" %>

<div id="boxed">
  <h1 class="centered">Didn't find what you were looking for?</h1>
  <hr />
  <br />
  <p class="centered">Check over our current cities and if you don't see what you were looking for, request it. We'd love to hear from you!</p>
  <br />
  <br />
  <%= render :partial => 'shared/city_list' %>
</div>