<% title "Takin' it to the streets!" %>

<div id="boxed">
  <br />
  <h1 class="centered"><u>We're takin' it to the streets!</u></h1>
  <br />
  <br />
  <br />
  <br />
  <br />
  <p class="centered larger readable">Looking for SugarSave? We're out in the streets,<br />
    working with businesses to bring you great local deals!<br />
    If you want to help, use <%= link_to "this form", new_contact_path %> to suggest a deal in your area!</p>
</div>