<% title "Deal" %>

<p>
  <strong>Name:</strong>
  <%= @deal.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @deal.description %>
</p>
<p>
  <strong>Regular Price:</strong>
  <%= @deal.regular_price %>
</p>
<p>
  <strong>Initial Discount:</strong>
  <%= @deal.initial_discount %>
</p>
