<% title "About Us" %>

<div id="boxed">
  <h1>What's the Deal with SugarSave?</h1>
  <br /><br />
  <h2><i>What SugarSave Is</i></h2>
  <br />
  <p>SugarSave represents an opportunity unlike any other. Every day we sell one incredible deal on products or services from a local business. We bring that SugarDeal (catchy, yeah?) to you, so you're happy. Then you redeem it at the local business, so they're happy. Then we give a portion of the proceeds to a local charity, so they're happy. It's a rare win+win+win. We think that's pretty sweet.</p>
  <br /><br />
  <h2><i>Who We Are</i></h2>
  <br />
  <p>We're a group of Knoxvillians with big dreams, big ideas, and big plans. We're just crazy enough to think that we can help leverage the power of group buying dynamics to grow local businesses and strengthen communities. We live here; we raise our families here; we work and play here. That's why SugarDeals are just the beginning of what we hope will be a movement that injects prosperity, hope, and excitement into everything we do.</p>
  <br /><br />
  <h2><i>Why We're Different</i></h2>
  <br />
  <p>You've already heard that we're invested in the success of our city and communities. Along with that commitment, we are, at our core, about relationships. We're active both online and off, utilizing social media and good old fashioned face-to-face interaction to get real with Knoxville's consumers and to find out how we can bring them the latest and greatest in local values that help stretch their buying dollars further. We get to know local businesses and find out how we can partner with them to reach those buyers they're seeking (and all without charging them a dime). We partner with local charities to spread the word about the good works they are doing and to rally support for their worthy causes. Can all this happen by giving you a great deal on the stuff you want? It can and it does. That's just SugarSave for you!</p>
</div>