<% title "FAQ" %>

<div id="boxed" class="readable">
  <h1>SugarDeal FAQ - Everything You Need to Know to Save</h1>
  <br />
  <h2>The following information pertains to all SugarDeals:</h2>
  <br />
  <p><i><strong>Can I get cash back for the unused portion of my SugarDeal?</strong></i></p>
  No. Well, not unless required by law, anyways.
  <br /><br />
  <p><i><strong>Can I apply my SugarDeal over multiple visits to the redeeming business?</strong></i></p>
  No. Go wild and enjoy your deal to the full.
  <br /><br />
  <p><i><strong>Can my SugarDeal cover tax or gratuities?</strong></i></p>
  No. As a side note, SugarSave endorses generous tipping practices.
  <br /><br />
  <p><i><strong>Can I combine the value of my SugarDeal with other offers or coupons?</strong></i></p>
  Not unless specifically stated.
  <br /><br />
  <p><i><strong>When will my SugarDeal expire?</strong></i></p>
  Every SugarDeal will include a plainly-stated expiration date in the Crucial Deal Details. This date will also appear on your printed SugarDeal.
  <br /><br />
  Sorry for all the negativity, but sometimes the truth hurts. Still there's plenty of good stuff, so read on!
  <br /><br />
  Next we'll cover some frequently asked questions. This list will continue to evolve as SugarSave does; if you ask us the same thing enough times, your question might even make the list!
  <br /><br />
  <p><i><strong>When can I use my SugarDeal?</strong></i></p>
  While you are able to download your SugarDeal immediately after purchasing it, as a general rule, you can use your SugarDeal the day after that particular deal ends.
  <br /><br />
  <p><i><strong>Can I give someone a SugarDeal as a gift?</strong></i></p>
  Absolutely - and we applaud your generosity. For now, you'll have to buy as normal and either print out the SugarDeal for that lucky recipient or be tech-savvy and email them the download link that you receive after purchase. However, all SugarDeals will be assigned to the name of the purchaser (just so you know).
  <br /><br />
  <p><i><strong>I purchased 10 SugarDeals because you said I could. Why did I only get one file with one page?</strong></i></p>
  What you're going to need to do is print that one page 10 times, so that you can use your SugarDeal 10 times. Don't worry, the business for your SugarDeal will know you're coming, and they'll be excited to see you.
  <br /><br />
  <p><i><strong>If I'm eating out on my SugarDeal, how much should I tip?</strong></i></p>
  As much as you'd like, so long as you're figuring on the pre-discount bill amount.
  <br /><br />
  <p><i><strong>Can I use this for alcohol?</strong></i></p>
  By all means - unless specifically prohibited a deal's Crucial Deal Details.
  <br /><br />
  <p><i><strong>Can I trust SugarSave with my personal and payment information?</strong></i></p>
  You better believe that you can. We don't store any of your information beyond your email address and we promise to only use that for good (sending you our daily deal) and never for evil (selling it or bugging you unduly). As for your payments, we utilize Paypal and Authorize.net to process your payments, both of which are industry-leaders in information security.
  <br /><br />
  <p><i><strong>Where can even more about SugarSave's policies. I'm interested in return information, how to contact you, and even more detailed legal jargon.</strong></i></p>
  <br />
  Visit our <%= link_to "legal", '/legal' %> page and enjoy!
</div>