<% title "Welcome" %>

<div id="tagline">
  <%= image_tag('tagline.png') %>
</div>

<div id="comingsoon">
  <%= image_tag('comingsoon.png', :width => '920px') %>
</div>

<div id="yourcity">
  <%= image_tag('get-deals.png', :id => 'get-deals') %>
</div>

<div id="yourbusiness">
  <%= image_tag('feature-business.png', :id => 'feature-business') %>
</div>