<% title "Legal Info and Policies" %>

<div id="boxed" class="readable">
  <h1>Legal Info and Policies</h1>
  <br /><br />
  <h2>Your Information</h2>
  <br />
  <p><i><strong>What will you do with my email address? What will you do with my credit card and billing information?</strong></i></p>
  <br />
  <p>Nothing that you don't want us to! We don't store any of your information beyond your email address and we promise to only use that for good (sending you our daily deal) and never for evil (selling it or bugging you unduly). As for your payment information, we utilize Paypal and Authorize.net to process your payments, both of which are industry-leaders in information security. The security of your information is of the highest priority for us at SugarSave; we value your trust.</p>
  <br /><br />
  <h2>Orders</h2>
  <br />
  <p><i><strong>Can I return a SugarDeal?</strong></i></p>
  <br />
  <p>At SugarSave, we want to make you happy. That's the bottome line. We don't encourage returns, but if you need to make one, send us an email at info@sugarsave.com or give us a call at 865-484-6837.</p>
  <br /><br />
  <p><i><strong>What if the business for my SugarDeal closes down?</strong></i></p>
  <br />
  <p>If anything happens that makes it impossible for you to redeem your SugarDeal, we'll make sure you get your money back or an appropriate credit.</p>
  <br /><br />
  <h2>Contact Info</h2>
  <br />
  <p><i><strong>How can I reach SugarSave (I'd like to send you a lovely card)?</strong></i></p>
  <br />
  <p>SugarSave Knoxville
  <br />
  P.O. Box 51175
  <br />
  Knoxville, TN 37950
  <br />
  865-484-6837
  <br /><br />
  info@sugarsave.com</p>
</div>