<% title "SugarBucks" %>

<div id="boxed" class="readable">
  <h1>What the Heck is a SugarBucks Code and Why Should I Care?</h1>
  <br /><br />
  <p>SugarBucks codes are just one more way that we can help sweeting our already stellar deals and they represent a great reason for you to share SugarSave with your friends and family!</p>
  <br />
  <p>Whenever you buy one of our great SugarDeals, you'll receive an email containing a printable voucher for redeeming your deal. In that same email, you'll find a SugarBucks code pertaining to your purchase. You'll want to hang onto that, as it's redeemable for incredible savings on future SugarSave purchases.</p>
  <br />
  <p>That code's value will range somewhere between 1% and 10% off of the purchase of a future SugarDeal. Whether it's a miniscule or massive discount will depend entirely on how many others have purchased a SugarDeal that day. So, in addition to being all-around altruistic, you'll want to get as many others as you can buying a SugarDeal on the same day as you. Since the value of your SugarBucks code won't be determined until your SugarDeal closes, be sure to return to this page and check the ledger to the right to determine its value.</p>
  <br />
  <p>Yeah, we know that means you could get a great SugarBucks code by buying something inexpensive and then apply the discount towards something way pricier, but that's part of the fun. However, you need to remember that SugarBucks codes are only good for 30 days following their issuance and are limited in number to the number of deals that were purchased the day they were issued. Choose wisely regarding when to redeem them and feel good knowing that you are getting an even sweeter deal while still supporting local businesses and charitable organizations!</p>
</div>