<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>SugarSave Contact Us Submission</h1>
    <p>
      From: <%= @contact.from_email %>
    </p>
    <br />
    <p>
      <%=raw @contact.message %>
    </p>
  </body>
</html>