<% title "Pick your City" %>

<div id="boxed">
  <h1 class="centered">Pick Your City</h1>
  <hr />
  <br />
  <% for city in @cities do %>
    <%= link_to city.name, "/#{city.search_name}" %>
  <% end %>
</div>